<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<h1>This is the Layout view page</h1>
<a href="/">Back</a>

<form id="contact-form" action="/send" method="post" enctype ="multipart/form-data">
    <label for="senderName">Your Name</label><br>
    <input name="senderName" type="text">
    <hr>
    <label for="senderEmail">Email</label><br>
    <input name="senderEmail" type="email">
    <hr>
    <label for="w3review">Message</label><br>
    <textarea name="senderMsg" rows="4" cols="50"></textarea>
    <br>
    <input style="background: cyan;color:black;text-shadow:1px 1px 0 white;font-weight:bold;padding:10px;" type="submit">
</form>
<script>
    //Example API fetch
    const fetchResource = async (url) => {
        return await fetch(`${url}`, {
                // mode: 'no-cors',
                method: 'GET',
                headers: {
                    Accept: 'application/json',
                },
            },
        ).then(response => {
            response.json().then(data => ({
                data: data,
                status: response.status,

            },console.log(response.status),
                console.log(data)))
        })
    }

    // fetchResource('/api/v1/database');
</script>
</body>
</html>