body {
  background: black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: cyan;
  text-shadow: 1px 1px 0 darkcyan;
}

a {
  color: orange;
  text-shadow: none!important;
}

ul a{
  text-decoration: none;
}
